@import "../../vendor/badchoice/Hurricane/src/Hurricane-Variables";
@import "variables";
@import "../../vendor/badchoice/Hurricane/src/Hurricane";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Basic";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Inputs";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Tables";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Buttons";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Cards";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Grid";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Dropdown";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Sort";

//@import url('https://fonts.googleapis.com/css?family=Lato:200,300,300italic,700');

@family-serif: "Lato", sans-serif;
@family-heads: "Lato", sans-serif;
@sidebar-width:200px;

@import "tagsInput";
@import "popup";
@import "trello";
@import "forms";
@import "percentageCircle";
@import "circle-progress";
@import "priority-icon";

body{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    margin:0;
    line-height: 1.42857143;
    font-weight: 300;
    color: @gray;
}
a{
  .text-decoration-none;
  color:@brand-second;
}


.sidebar{
  position: absolute;
  background-color:white;
  z-index: 10;
  float:left;
  width: @sidebar-width;
  height:100%;
    font-size: 12px;
    border-right: 1px solid #f3f3f3;
    ul{
        .mh4;
    }
    li{
        .mt2; .pv2; .pl2;
    }
    li.active{
        background-color:@broken-white;
        .br2;
    }
    .gravatar{
        height:12px; width:12px;
    }
}

.content{
  margin-left:@sidebar-width;
}
table tr{
  height: 40px;
}

input{
  //height:32px;
  width:300px;
}

.pagination {
  margin-top:-43px;
  li {
    display:inline;
    margin-right:10px;
  }
}

table th{
  background-color:@broken-white;
}

.resourceSearch, .pagination{
  .ml4;
}

.thrust-edit{
  .button; .secondary; .shadow-outer-3;
}

.thrust-table{
  .mb5;
}

.fontAwesome  {
  /* Char sheet: http://fortawesome.github.io/Font-Awesome/cheatsheet/*/
  /* Font awesome php: http://kevinkhill.github.io/FontAwesomePHP */
  font-family: FontAwesome;
  //color:black;
  font-size:12px;
}

.thrust-edit:after{
  .fontAwesome;  content: "\f040";
}

td.action{
  min-width:50px;
}

select{
  width:300px;
}

.tag{
  //background-color:@brand;
  border:solid 1px #ddd;
  .br1; .p1; .mr1;
  font-size:11px;
}

a.button{
  font-weight: 400;
}

.list select{
  width:100px;
}

.description .title{
  .ml4; .mt4; .bold; .fs3;
}

.thrust-main-actions{
  float:right;
  margin-top:-40px;
}

#quickCreateIssue{
  right: 0px;
  position: absolute;
  z-index: 99;
  .shadow-outer-2;
}

.resourceSearch i{
  .hidden;
}
td.date{
  width:100px;
}

.thrust-panel{
  .b; .br2; .shadow-outer-3; .col-min33;
}

.gravatar{
  .circle; .fw3;
}

.text-row{
    max-width:450px;
}

@media (max-width: 600px) {
    .thrust-index-title{
        .ml4;   // TODO: Not working, why? look deeper
    }
}

